[Unit]
Description=MCCE Serial Drop Service
Wants=network-online.target
After=network.target network-online.target
OnFailure={{ systemd_mailer }}

[Service]
Type=oneshot
User=mcce
Group=mcce
WorkingDirectory={{ working_dir }}
Environment="DATABASE_URL={{ database_url }}"
ExecStart={{ python_path }} day_digest.py

[Install]
WantedBy=multi-user.target
